<!-- jumbotron -->
<div class="jumbotron container">
  <img src=<%= asset_path"winestar.png" %> id="brand" width="55px">
  <h4><center><b>What are you looking for today?</b></center></h4>
  <h5><center>Pick anything that catches your eye</center></h5>
</div>

<div class="container col-sm-6 col-sm-offset-4">

  <%= form_for (@trip) do |t| %>
  <%= t.check_box :available_now %>&nbsp;
  <%= t.label :available_now %><br>

  <div class="row">
    <p>Select Dates:</p>
    <div clas="col-sm-3">
      <%= t.date_field :arrival_date %> 
    </div>&nbsp;
    <div clas="col-sm-3">
      <%= t.date_field :departure_date %> 
    </div>
  </div> <br>
  <%= t.label :price_tag %>
  <ol>
    <%= check_box_tag 'Selected?', 1, false %>
    <%= label_tag(:price_tag, "$") %>
  

    <%= check_box_tag 'Selected?', 2, false %>
    <%= label_tag(:price_tag, "$$") %>

    <%= check_box_tag 'Selected?', 3, false %>
    <%= label_tag(:price_tag, "$$$") %>

    <%= check_box_tag 'Selected?', 4, false %>
    <%= label_tag(:price_tag, "$$$$") %>
  </ol>
  <br>

  <%= t.label :number_of_people %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= t.select :number_of_people, (1..9) %><br>

<!--   <%= t.label :start_location %>
  <%= t.text_field :start_location, placeholder: "Start Location" %> <br>
  <%= t.label :end_location %>
  <%= t.text_field :end_location, placeholder: "End Location" %> <br> -->


  <div id="map" style="height:250px;, width:200px;"></div>

  <input id="origin-input" class="controls" name="trip[start_location]" type="text"
  placeholder="Start Location">
  
  <input id="destination-input" class="controls" name="trip[end_location]" type="text"
  placeholder="End Location">

<!-- Start Location End Location -->
<div class=" container-fluid form-group">
  <%= t.submit ("Save"), class: "btn btn-success", data:{ confirm: "Are you sure?" } %>
  <% end %>
</div>



