<!-- jumbotron -->
<div class="jumbotron container">
  <img src=<%= asset_path"winestar.png" %> id="brand" width="55px">
  <h4><center><b>What are you looking for today?</b></center></h4>
  <h5><center>Pick anything that catches your eye</center></h5>
</div>

<div class="container col-sm-6 col-sm-offset-4">
<br>
  <%= form_for (@trip) do |t| %>
  <%= t.check_box :available_now if :checked %> &nbsp;
  <%= t.label :available_now %><br>
<br>

  <div class="row">
    <p><%= label_tag :select_Dates %></p>
    <div class="col-md-6 start_date">
      <%= t.date_field :arrival_date %> 
    </div>&nbsp;
    <div class="col-md-6 departure_date">
      <%= t.date_field :departure_date %> 
    </div>
  </div> <br>
  
  <%= t.label :group_size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= t.select :number_of_people, (1..9) %>
  <br>

  <ol>
    <%= check_box :price_tag, value=1 if :checked %>
    <%= label_tag(:price_tag, "$") %> &nbsp;

    <%= check_box :price_tag, value=2 if :checked %>
    <%= label_tag(:price_tag, "$$") %> &nbsp;

    <%= check_box :price_tag, value=3 if :checked %>
    <%= label_tag(:price_tag, "$$$") %> &nbsp;

    <%= check_box :price_tag, value=4 if :checked %>
    <%= label_tag(:price_tag, "$$$$") %> &nbsp;
  </ol>



  <div id="map"></div>

  <input id="origin-input" class="controls" name="trip[start_location]" type="text"
  placeholder="Start Location   "> 
  
  <input id="destination-input" class="controls" name="trip[end_location]" type="text"
  placeholder="End Location">
  <br>

<!-- Start Location End Location -->
<div class=" container-fluid form-group">
  <%= t.submit ("Submit"), class: "btn btn-success", data:{ confirm: "Please confirm this trip." } %>
  <% end %>
</div>
22