<!-- jumbotron -->
<div class="jumbotron container">
  <img id="logo" href="/" src="https://farm1.staticflickr.com/750/22536085337_33dcc77bc0_m.jpg">
  <h3 id="trip-headliner"> Please add the following information <br> so we can optimize your day.</h3>
</div>

<div class="border">
<div class="container trip-form col-sm-6 col-sm-offset-4">

  <!-- form for the trip model -->
  <%= form_for Trip.new do |t| %>
  <!-- Available Now -->
      <%= t.check_box :available_now if :checked %> &nbsp;
      <%= t.label :available_now %><br>
      <br>

  <!-- Select Dates -->
      <div class="row select-date-row">
        <p id="select-dates"><%= label_tag :select_Dates %></p>
        <div class="col-md-6 start_date">
         <p>Arrive Date</p>
          <%= t.date_field :arrival_date %> 
        </div>

        <div class="col-md-6 departure_date">
         <p>Depart Date</p>
          <%= t.date_field :departure_date %> 
        </div>
      </div> <br> 
      <%= t.label :group_size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= t.select :number_of_people, (1..9) %>
      <br><br>

    <!-- price range of the trip -->
        <%= t.check_box :price_range, {:class => "priceRange"}, 1, nil %>
        <%= label_tag(:price_range, "$") %>

        <%= t.check_box :price_range, {:class => "priceRange" }, 2, nil %>
        <%= label_tag(:trip_price_range, "$$") %> 
        <%= t.check_box :price_range, {:class => "priceRange" }, 3, nil %>
        <%= label_tag(:trip_price_range, "$$$") %>

        <%= t.check_box :price_range, {:class => "priceRange" }, 4, nil %>
        <%= label_tag(:trip_price_range, "$$$$") %>   
      </div>

     <!-- the map embedded -->
      <div id="map"></div>

      <input id="origin-input" class="controls" name="trip[start_location]" type="text"
      placeholder="Start Location">
      
      <input id="destination-input" class="controls" name="trip[end_location]" type="text"
      placeholder="End Location">
      <br>
      <br>
      <div>
        <%= t.text_area :additional_info %>

      </div>

      <div class="container-fluid form-group">
      <%= t.submit ("Submit"), class: "btn btn-success", data:{ confirm: "Please confirm this trip." } %>

 <% end %>
  </div>
  </div>


