<h2> Four likes user selected: </h2><br>

<h4><%= @like.vineyard_tours %></h4>
<h4><%= @like.cave_tours %></h4>
<h4><%= @like.great_views %></h4>
<h4><%= @like.food_pairing %></h4>
<h4><%= @like.groups %></h4>
<h4><%= @like.kid_friendly %></h4>
<h4><%= @like.dog_friendly %></h4>
<h4><%= @like.bachelorettes %></h4>
<h4><%= @like.staff_picks %></h4>
<h4><%= @like.organic_wineries %></h4>
<h4><%= @like.architecture %></h4>
<h4><%= @like.top_reds %></h4>
<h4><%= @like.top_whites %></h4>
<h4><%= @like.sparkling_wines %></h4>
<h4><%= @like.picnic %> <br>

<h4></h4>User ID:<%= @like.user_id %></h4>
