<h2>Trips Details for the user with the  userID:<h2>

Available now: <%= @trip.available_now %>

<h4>Arrival Date</4>: <%= @trip.arrival_date %>
<h4>Departure Date</4>: <%= @trip.arrival_date %>
<h4>Number of People</4>: <%= @trip.number_of_people %>
<h4>Start Location</4>: <%= @trip.start_location %>
<h4>end Location</4>: <%= @trip.end_location %>
<h4>Price Range in 1 > 2 > 3 > 4 </h4>: <%= @trip.price_range %><br>

<h4>User Id:</h4><%= @trip.user_id %>









