
<!-- Sending email to Product manager Team of User's Trip Details -->
<div class='well'>

	<h2>Trips Details for the user with the  userID:<h2>
	
	<h4>Available now: <%= @trip.available_now %></h4>
	
	<h4>User Id:<%= @trip.user_id %></h4>
	<h4>Arrival Date</h4>: <%= @trip.arrival_date %></h4>
	<h4>Departure Date</h4>: <%= @trip.arrival_date %></h4>
	<h4>Number of People</h4>: <%= @trip.number_of_people %></h4>
	<h4>Start Location</h4>: <%= @trip.start_location %></h4>
	<h4>end Location</h4>: <%= @trip.end_location %></h4>
	<h4>Additional Info</h4>: <%= @trip.additional_info %></h4>
	<h4>Price Range</h4>: <%= @trip.price_range %><br>

</div>










