<h3>Hello <%= @user.first_name %>!</h3><br>

<p>Thank you for your trip request!</p> <br>

<p>Feel relaxed knowing the Wine Star team is currently working with wine makers to design the perfect day for you. We will be in touch within the next twenty-four hours!</p><br>

<div class='col-xs-6 col-md-3'>
	<img src="">
</div>

<p>Your details: </p>
<p>User ID: <%= @user.id %></p>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p><br>

<p>f you need to make changes to your current itinerary request, please reply to this email with those changes!</p>

<p>
Best,<br>

Wanda, your Magic Wand Specialist
WineStar, Inc.
</p>


