<!-- jumbotron -->
<div class="jumbotron container">
	<h4><center><b>What would you enjoy at Winery?</b></center></h4>
	<h5><center>Pick anything that catches your eye</center></h5>

</div>

<!-- preferencers form -->
<%= form_for @like do |f| %>

<div class="container">
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :vineyard_tours, :vineyard_tours if :checked %>
				<img class="img-responsive" src="https://farm6.staticflickr.com/5629/22832638445_13f78b216c_h.jpg" alt="">
			</label>
		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :cave_tours, :cave_tours if :checked %>
			<img class="img-responsive" src=" https://farm1.staticflickr.com/772/22414278418_0a0a0909e5_h.jpg" alt="">
			</label>

		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :great_views, :great_views if :checked %>
				<img class="img-responsive" src="https://farm1.staticflickr.com/574/22644652110_69c8fa78cb_h.jpg" alt="">
			</label>
		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :food_pairing, :food_pairing if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/635/22440542669_cba6d07452_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :groups, :groups if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5820/22414368918_2acb107465_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :kid_friendly, :kid_friendly if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5647/22806712696_41968a7733_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :dog_friendly, :dog_friendly if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/725/22210011954_3fe7a720e1_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :bachelorettes, :bachelorettes if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/601/22832746165_6de9bb3dbf_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :staff_picks, :staff_picks if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/718/22806763526_540bb5315e_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :organic_wineries, :organic_wineries if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/654/22832819975_21057f6b5b_h.jpg"
 alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :architecture, :architecture if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/770/22414484858_f99ba8bc4d_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :top_reds, :top_reds if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/699/22832835585_588588f06e_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :top_whites, :top_whites if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5696/22644846980_d9aa9aa633_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :sparkling_wines, :sparkling_wines if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5698/22844030621_b538cad93c_h.jpg
" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :dessert_wines, :dessert_wines if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5638/22414506407_e0e3abbfdb_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :picnics, :picnics if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5787/22644926940_e273ebdaeb_h.jpg" alt="">
            </label>
        </a>
    </div>
</div>

<div class="col-sm-4 col-sm-offset-4"><%= f.submit "submit", class: "btn btn-danger"%></div><br>

<% end %>