
<!-- jumbotron -->
<div class="jumbotron container">
	<h4>What would you enjoy for your up coming trip to a Winery?</h4>
	<p>Pick up to 4 that catches your eye</p>
</div>

<div class="border"></div>

<!-- preferencers form -->
<%= form_for @like do |f| %>

<% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
<% end %>


<div class="container">

    <!-- ************* First Row -->
    <div class="row">
	   <div class="col-xs-6 col-md-3">
		<a href="#">
			<label>
                <%= f.check_box :vineyard_tours, {:class => "myclass", :style => "mystyle"}, "vineyard_tours", nil %>
				<img class="img-responsive" src="https://farm6.staticflickr.com/5629/22832638445_13f78b216c_h.jpg" alt="">
			</label>
		</a>
	   </div>
	   <div class="col-xs-6 col-md-3">
		<a  href="#">
			<label>
                <%= f.check_box :cave_tours, {:class => "myclass", :style => "mystyle"}, "cave_tours", nil %>
			<img class="img-responsive" src=" https://farm1.staticflickr.com/772/22414278418_0a0a0909e5_h.jpg" alt="">
			</label>

		</a>
	   </div>
	   <div class="col-xs-6 col-md-3">
		<a  href="#">
			<label>
                <%= f.check_box :great_views, {:class => "myclass", :style => "mystyle"}, "great_views", nil %>
				<img class="img-responsive" src="https://farm1.staticflickr.com/574/22644652110_69c8fa78cb_h.jpg" alt="">
			</label>
		</a>
	   </div>
	   <div class="col-xs-6 col-md-3">
            <a  href="#">
                <label>
                    <%= f.check_box :food_pairing, {:class => "myclass", :style => "mystyle"}, "food_pairing", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/635/22440542669_cba6d07452_h.jpg" alt="">
                </label>
            </a>
        </div>
    </div>

<!-- ****************** Next Row-->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :groups, {:class => "myclass", :style => "mystyle"}, "groups", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5820/22414368918_2acb107465_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :kid_friendly, {:class => "myclass", :style => "mystyle"}, "kid_friendly", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5647/22806712696_41968a7733_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :dog_friendly, {:class => "myclass", :style => "mystyle"}, "dog_friendly", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/725/22210011954_3fe7a720e1_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :bachelorettes, {:class => "myclass", :style => "mystyle"}, "bachelorettes", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/601/22832746165_6de9bb3dbf_h.jpg" alt="">
                </label>
            </a>
        </div>
    </div>

<!-- ***************** Next Row -->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :staff_picks, {:class => "myclass", :style => "mystyle"}, "staff_picks", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/718/22806763526_540bb5315e_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :organic_wineries, {:class => "myclass", :style => "mystyle"}, "organic_wineries", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/654/22832819975_21057f6b5b_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :architecture, {:class => "myclass", :style => "mystyle"}, "architecture", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/770/22414484858_f99ba8bc4d_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :top_reds, {:class => "myclass", :style => "mystyle"}, "top_reds", nil %>
                    <img class="img-responsive" src="https://farm1.staticflickr.com/699/22832835585_588588f06e_h.jpg" alt="">
                </label>
            </a>
        </div>
    </div>

    <!-- ************************** Next Row -->

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :top_whites, {:class => "myclass", :style => "mystyle"}, "top_whites", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5696/22644846980_d9aa9aa633_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :sparkling_wines, {:class => "myclass", :style => "mystyle"}, "sparkling_wines", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5698/22844030621_b538cad93c_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :dessert_wines, {:class => "myclass", :style => "mystyle"}, "dessert_wines", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5638/22414506407_e0e3abbfdb_h.jpg" alt="">
                </label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="#">
                <label>
                    <%= f.check_box :picnic, {:class => "myclass", :style => "mystyle"}, "picnic", nil %>
                    <img class="img-responsive" src="https://farm6.staticflickr.com/5787/22644926940_e273ebdaeb_h.jpg" alt="">
                </label>
            </a>
        </div>
    </div>
</div>


<div class="col-md-4 col-md-offset-4"><%= button_to "Next", users_path, method: :post, class: "btn btn-success", id: "next" %></div><br>

<% end %>
