<!-- jumbotron -->
<div class="jumbotron container">
	<h4><center><b>What would you enjoy at Winery?</b></center></h4>
	<h5><center>Pick anything that catches your eye</center></h5>

</div>

<!-- preferencers form -->
<%= form_for @like do |f| %>

<div class="container">
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :vineyard_tours, :vineyard_tours if :checked %>
				<img class="img-responsive" src="https://farm6.staticflickr.com/5629/22832638445_13f78b216c_h.jpg" alt="">
			</label>
		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :cave_tours, :cave_tours if :checked %>
			<img class="img-responsive" src=" https://farm1.staticflickr.com/772/22414278418_0a0a0909e5_h.jpg" alt="">
			</label>

		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
		<a class="thumbnail" href="#">
			<label>
				<%= f.radio_button :great_views, :great_views if :checked %>
				<img class="img-responsive" src="https://farm1.staticflickr.com/574/22644652110_69c8fa78cb_h.jpg" alt="">
			</label>
		</a>
	</div>
	<div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :food_pairing, :food_pairing if :checked %>
                <img class="img-responsive" src="https://farm1.staticflickr.com/635/22440542669_cba6d07452_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.radio_button :groups, :groups if :checked %>
                <img class="img-responsive" src="https://farm6.staticflickr.com/5820/22414368918_2acb107465_h.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
    <div class="col-xs-3 thumb img-responsive">
        <a class="thumbnail" href="#">
            <label>
                <%= f.label :great_views, "great_views" %>
                <%= f.radio_button :great_views, :great_views if :checked %>
                <img class="img-responsive" src="http://40.media.tumblr.com/9b01fdce87b35648bf1491b17152cee6/tumblr_nos2citD1e1t589qto1_500.jpg" alt="">
            </label>
        </a>
    </div>
</div>




<div class="col-sm-4 col-sm-offset-4"><%= f.submit "submit", class: "btn btn-danger"%></div><br>

<% end %>