
<div class="jumbotron container">
    <h3>Please insert your contact information to your itinerary request.</h3>
    <h2> Salud! </h2>

</div>

<!-- form begins -->
<div class="container-fluid col-sm-4 col-sm-offset-4">

    <%= form_for(@user, :builder => Judge::FormBuilder) do |f| %>
    
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
    <% end %>

        <div class ="control-group">

            <div class="controls controls-row row-fluid">
                    <%= f.text_field :first_name, :validate => true, placeholder: "First Name", class:"form-control", id:"val" %><br>&nbsp;&nbsp;
                    <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control" %><br>
            </div>
        
            <%= f.text_field :phone_number, :validate => true, placeholder: "Mobile Number", class:"form-control" %><br>
            <%= f.text_field :email, :validate => true, placeholder: "Email", class:"form-control", id:"email"%><br>
            <%= f.password_field :password, :validate => true, placeholder: "Password", class:"form-control", id:"password" %><br>
            <%= f.password_field :password, placeholder: "Re-Enter Password", class:"form-control" %><br>
    
            
            <!-- radio button -->
            <h4>How would you like to be contacted? <br>(Choose one or both)</h4>

                 <div class="email col-sm-6">
   
                    Email<%= f.check_box :contact_email, {:class => "myclass", :style => "mystyle"}, "contact_email", nil %>
                </div>
                <div class="mobile col-sm-6">
                    Mobile Number&nbsp;&nbsp;&nbsp;<%= f.check_box :contact_text, {:class => "myclass", :style => "mystyle"}, " contact_text", nil %>
                </div>
            </div>
               
            <%= f.submit "Submit",  class: "btn btn-primary"%>

    
        </div>

        <br>

    <% end %> 
</div>