<div class="jumbotron container">
    <h3><center><b>Tell us about yourself</b></center></h3>
    <h4><center>Let us know how to contact you.</center></h4>

</div>


<div class="container-fluid col-sm-4 col-sm-offset-4">

    <%= form_for (@user) do |f| %>
        <div class ="control-group">

            <div class="controls controls-row row-fluid">
                <!-- <div class="col-sm-6" id="inline"> -->
                    <%= f.text_field :first_name, placeholder: "First Name", class:"form-control" %><br>
                <!-- </div> -->
                <!-- <div class="col-sm-6" id="inline"> -->
                    <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control" %><br>
                <!-- </div>             -->
            </div>
        
            <%= f.text_field :phone_number, placeholder: "Mobile Number", class:"form-control" %><br>
            <%= f.text_field :email, placeholder: "Email", class:"form-control" %><br>
            <%= f.password_field :password, placeholder: "Password", class:"form-control" %><br>
            <%= f.password_field :password, placeholder: "Re-Enter Password", class:"form-control" %><br>
    
            
            <!-- radio button -->
            <div class="field">
                <p class="contact" ><b>How would you like to be contacted?</b> (Choose one or both)</p>
                 <%= check_box_tag 'contact_email', 'yes', true %>
                <%= label_tag(:contact_email, "Email") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= check_box_tag 'contact_text', 'yes', true %>
                <%= label_tag(:contact_text, "Mobile SMS") %>
            </div>
        </div><br>
    
    <%= f.submit "Submit", class: "btn btn-primary"%>

    <% end %> 
</div>