<!-- <nav class="navbar navbar-default">
  <header>
    <%= link_to root_path  do %>
      
    <img src=<%= asset_path"winestar.png" %> id="brand" width="55px">
    <% end %>
  </header>

</nav> -->

<ul class="nav navbar-nav pull-left">
           <% if current_user %> 
            <li> <%= link_to "Home", root_path %></li>
           <% end %>
         </ul>
         <ul class="nav navbar-nav pull-right">
           <% if current_user %> 
             <h3> Welcome <%= current_user %>&nbsp;&nbsp;<%= link_to "Log out",  logout_path, method: "destroy", class: "btn btn-success" %></h3> 
           <% else %> 
             <p><%= link_to "Sign Up", signup_path , class: "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Log In", login_path , class: "btn btn-primary" %></p>
           <% end %> 
	</ul>