
<%= form_for @trips do |t| %>
  Available <%= t.check_box :available_now %> <br>
  Arrival Date: <%= t.date_field :arrival_date %> <br>
  Departure Date: <%= t.date_field :departure_date %> <br>
  Number Of People<%= t.select     :number_of_people, (1..9) %><br>
  Start Location <%= t.text_field :start_location, placeholder: "Start Location" %> <br>
  End Location <%= t.text_field :end_location, placeholder: "End Location" %> <br>

  Price Range:
  <li>
      <%= check_box_tag 'Selected?', 'no', false %>
      <%= label_tag(:price_tag, "$") %>
  </li>

   <li>
      <%= check_box_tag 'Selected?', 'no', false %>
      <%= label_tag(:price_tag, "$$") %>
  </li>
   <li>
      <%= check_box_tag 'Selected?', 'no', false %>
      <%= label_tag(:price_tag, "$$$") %>
  </li>
   <li>
      <%= check_box_tag 'Selected?', 'no', false %>
      <%= label_tag(:price_tag, "$$$$") %>
  </li>
  <br>

  <%= t.submit ("Save"), class: "btn btn-success", data:{ confirm: "Are you sure?" } %>

<% end %>

<br><br>
<hr>

<!-- Form for "Trip" database -->
<form>
  <!-- Number of people  -->
  <div class="form-group">
    <select class="dropdown-toggle" >
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9+</option>
    </select>
  </div>

  <!-- Calender arrival departure -->
  <div class="form-group">
    <input class="datepicker" id="arrivalDate" />
    <input class="datepicker" id="departureDate" />
  </div>

  <!-- Available  -->
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="myCheckbox"/> I'm Available!
      </label>
    </div>
  </div>

  <!-- Start Location End Location -->
  <div class="form-group">

    <input id="origin-input" class="controls" type="text"
    placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
    placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>

    <div id="map" style="height:250px;"></div>
  </div>

  <!-- price buttons -->
  <div class="form-group">
    <ul class="suggested-filters_price-filters">
      <li>
        <label class="radio-check">
          <input name="price" type="checkbox" value="RestaurantsPriceRange2.1">

          <span class="filter-label show-tooltip">
            $
            <span class="tooltip-wrapper">
              <span class="tooltip">Inexpensive</span>
            </span>
          </span>
        </label>
      </li>
      <li>
        <label class="radio-check">
          <input name="price" type="checkbox" value="RestaurantsPriceRange2.2">

          <span class="filter-label show-tooltip">
            $$
            <span class="tooltip-wrapper">
              <span class="tooltip">Moderate</span>
            </span>
          </span>
        </label>
      </li>
      <li>
        <label class="radio-check">
          <input name="price" type="checkbox" value="RestaurantsPriceRange2.3">

          <span class="filter-label show-tooltip">
            $$$
            <span class="tooltip-wrapper">
              <span class="tooltip">Pricey</span>
            </span>
          </span>
        </label>
      </li>
      <li>
        <label class="radio-check">
          <input name="price" type="checkbox" value="RestaurantsPriceRange2.4">

          <span class="filter-label show-tooltip">
            $$$$
            <span class="tooltip-wrapper">
              <span class="tooltip">Ultra High-End</span>
            </span>
          </span>
        </label>
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>


