<!DOCTYPE html>
<html>
<head>
	<title>Winestar</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- favicon -->
  	<link rel="icon" type="image/png" sizes="25x25" href="<%= asset_path"favicon.png"  %>">

	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
	<!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
  <!-- googleapis jquety-ui -->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>

	<!-- shared nav-bar -->
	<%= render "shared/navbar" %>


	<%= yield %>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeSs5Fs7BarTowqSm6uxtEqwL6q6tjylQ&signed_in=true&libraries=places&callback=initMap" async defer></script>

</html>
